{% extends "base.html" %}

{% block content %}
    
    <h2>Student Registration</h2>
    
    <hr style="border-top: 5px solid black; margin-bottom: 30px;">

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <div class="card p-4" style="max-width: 500px;">
        <form method="POST">
            
            <label class="form-label">Full Name:</label>
            <input type="text" name="name" class="form-control" required><br>

            <label class="form-label">Email (@gmail.com only):</label>
            <input type="email" name="email" class="form-control" required><br>

            <label class="form-label">Select Course:</label>
            <select name="course" class="form-select">
                {% for c in courses %}
                    <option value="{{ c }}">{{ c }}</option>
                {% endfor %}
            </select>
            <br>

            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>
    </div>

{% endblock %}