{% extends "base.html" %}

{% block content %}

    <h2>Enrolled Students</h2>
    
    <hr style="border-top: 5px solid black; margin-bottom: 30px;">

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ s['id'] }}</td>
                <td>{{ s['name'] }}</td>
                <td>{{ s['email'] }}</td>
                <td>{{ s['course'] }}</td>
                
                <td>
                    <a href="/delete/{{ s['id'] }}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">
                        Delete
                    </a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" class="text-center">No students registered yet.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}